<div class="container">
    
    <div class="row">
        <div class="col-lg-6 offset-lg-3 mt-3">
            <h2 class="text-center">Grupos</h2>
            <span class="p-3 back" (click)="volver()"><i class="fas fa-arrow-circle-left"></i></span>
            <div class="col-lg-12 offset-lg-4" *ngIf="cargando">
                <img class="" src="../../../assets/carga.gif">
            </div>
            <div class="card mt-3" *ngFor="let info of arrInfoGrupos">
                <div class="card-body">
                    
                    <h3 class="text-center">
                        {{ info.nombre }}
                    </h3>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-lg-3">
                           <b>Sede:</b> 
                        </div>
                        <div class="col-lg-7 text-center">
                            {{ info.sede }}
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-3">
                           <b>Institución:</b> 
                        </div>
                        <div class="col-lg-7 text-center">
                            {{ institucion }}
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-3">
                           <b>Municipio:</b> 
                        </div>
                        <div class="col-lg-7 text-center">
                            {{ info.municipio }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>