<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 mt-3">
            <h2 class="text-center">Instituciones</h2>
            <span class="p-3 back" (click)="volver()"><i class="fas fa-arrow-circle-left"></i></span>
            <table class="table table-striped mt-2">
                <thead class="table-info table-striped" *ngIf="!cargando">
                    <tr>
                        <th scope="col"> Institucion </th>
                        <th scope="col"> Cod.Dane </th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <div class="col-lg-12 offset-lg-4" *ngIf="cargando">
                    <img class="" src="../../../assets/carga.gif">
                </div>
                <tbody>
                    <tr scope="col" *ngFor="let institucion of arrInstituciones">
                        <td> {{ institucion.nombre }} </td>
                        <td> {{ institucion.dane }} </td>
                        <td>  <span class ="icono-ver" (click)="visualizarSedes(institucion.dane)">ver <i class="fas fa-eye"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>