<div class="container">
    
    <div class="row">
        <div class="col-lg-6 offset-lg-3 mt-3">
            <h2 class="text-center">Municipios</h2>
            <table class="table  mt-5 table-striped">
                <thead class="table-info" *ngIf="!cargando">
                    <tr>
                        <th scope="col"> Municipio </th>
                        <th scope="col"> Cod.Dane </th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                    <div class="col-lg-12 offset-lg-4" *ngIf="cargando">
                        <img class="" src="../../../assets/carga.gif">
                    </div>
                <tbody> 
                    
                    <tr scope="col" *ngFor="let municipio of arrMunicipios">
                        <td> {{ municipio.nombre }} </td>
                        <td> {{ municipio.dane }} </td>
                        <td>  <span class ="icono-ver" (click)="visualizarInstituciones(municipio.dane)">ver <i class="fas fa-eye"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
<footer >
    <p> Hecho con ♥ por:  Jose Esteban Gomez Reyes</p>   
    <p>correo: josees_84@hotmail.com</p>
    <p>Tel; 3243658160 </p>
  </footer>